

body{
    font-family: 'Poppins', sans-serif;
margin: 0;

padding: 0;
overflow-x: hidden;
width:105vw;

}



.hero_section{
    background-image: url(images/donation1.jpg);
    background-repeat: no-repeat;
    width: 100%;
height: 450px;
background-size: cover;
padding-top:12%;

color: #fff;

}

.center_content{
    width:45%;

    margin-left: 30%;
    

    display: flex;

    justify-content: center;
    
    }
 p{
    width: 50%;
    font-size:medium;
line-height: 1.5;
margin-bottom: 1rem;


color:#fff;
}
h1{
    font-size: 50px;

}


.donate_btn1{


    text-decoration: none;
    font-weight: 900%;
    font-size: 14px;
    text-align: center;
    padding: 12px 25px;
    
    border-radius: 5px;
    display: inline-block;
    margin-right: 50px;
    color: #fff;
    letter-spacing: 0;
    background-image: linear-gradient(to right, #4458dc 0%, #854fce 100%);
    
    margin-left: 44%;
    margin-top: 20px;
    

}



/****************Starting  of donation amount section***************/

.donation{
    background-color:#fff;
    margin: 0;
    padding: 0;
    

    width: 100%;
height: 450px;
}


#d_amount{
    color:black;

    text-decoration: none;
    font-weight: 900%;
    font-size: 25px;
    text-align: center;
    background-color:#F0FFF3;
    
    border-radius: 5px;
    display: flex;
    
    
    width: 100%;
height: 80px;

justify-content: space-around;
align-items: center;





padding: 0 15px;
    

}

#amount{
    width:40%;

    margin-left: 40%;
    

    

    justify-content: center;
    
}




 .donate-amount{

    background-color:#fff;
    display: flex;
    justify-content: center;
 }

 .donate-amount > div{

    font-size: 35px;
    margin: 10px;
    padding: 20px;
    width: 100px;
    background-color: #F0FFF3;
 }
   

 

 
 .donate-amount > div:hover{

    background: linear-gradient( to bottom, #BAE8E8 0%, #21ABA5 100%);


}

.input-amount{

    justify-content: center;
    width:45%;

    margin-left: 30%;
    padding-bottom: 2px;
    margin-top: 20px;  
    text-align: center;
    outline: none;
    border: none;
    background-color: #fff;
    color: darkgrey;
}

.hr{
    width:45%;

    margin-left: 30%;
color: darkgrey;
margin-top: -1px;
}






/**************start of donation campaign section**********/
.campaign{

    background-color:#fff;
    display: flex;
    justify-content: center;
 }

 .campaign > div{

    font-size: 15px;
    margin: 10px;
    padding: 20px;
    width: 200px;
    
 }


    
    .half-side{
        width:40%;
        float: left;
        margin-left: 5%;
        padding-left: 2%;
        margin-top: 20px;
    
    }
    h1{
        font-size: 50px;
    }
    
    .half-side img{
        width: 100%;
    
        
    }



    .contribute-area{

width: 100%;
height: 450px;
display: flex;

    }
    .link-btn{
        text-decoration: none;
        /*background: linear-gradient(45deg, lightsalmon, tomato);*/
        background-color:tomato;
        padding: 10px 40px;
        border-radius: 5px;
        color: white;
        font-weight: 700;
    }
    p{
        color: dimgray;
    }



    
    /************** start of mail form***************/
         .mail-body{
  margin-left: 30%;

            justify-content: center;       
width: 100%;
height: 15vh;

margin-bottom: 200px;
background-color: #fff;

         }    
         


         




         


         .mail-input{
            position: relative;
            height: 60px;
            width: 400px;
            background: pink;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            width:40%;
            height: 150px;

    margin-right: 60%;
    
        }
        .mail-input .field{
            height: 100%;
            width: 100%;
            

            align-items: center;
    
margin-bottom: -15%;
    

    justify-content: center;
        }

        
        .mail-input .field .btn-2{
            position: absulate;
            
            right: 15px;
            top: 50%;
            margin: 10px;
            height: 40px;
            width: 200px;
            color:#fff;
            background: red;
            
        }
        .m-add{
            background-color: gainsboro;
            height: 30px;
            justify-content: center;
            align-items: center;


        }
        .mail-text{

            width:40%;

    margin-left: 15%;
    

    

    justify-content: center;
    

        }
        
/*****************Footer***********/
        footer{
            text-align: center;
            background-color:#162447;
            color: #E33E5A;
            
         }